<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net45" />
  <package id="JSON" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net461" />
  <package id="VkNet" version="1.65.0" targetFramework="net461" developmentDependency="true" />
</packages>